page-notification-page {
    ion-navbar {
        height: 64px !important;
    }
    button.back-button{
            top: 7px;
            color: #C22F2F;
        }
        .toolbar-title.toolbar-title-ios {
            display: flex;
            top: 28px;
            left: 100px;
        }
        .toolbar-title {
            color: #C22F2F;
            position: absolute;
        }
        .toolbar-title.toolbar-title-md{
            left: 27px;
            top:-5px;

        }
    .background{
        background-color: #C22F2F;
    }
    .background .scroll-content{
            overflow: hidden;
        }
}
